.teste{
    border: 1px solid #000;
}

/*cabecario*/
/*.cabecario .logoTipo{
    max-height: 180px;
    max-width: 200px;
    height: 50%;
    width: 100%;
     
}*/
.cabecario{
    max-height: 400px;
    min-height: 140px;
    height: 100%;
    padding: 5%;
    background-image: url(../Img/imagens/cabecario.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.cabecario .logoTipo{
 background-color: rgba(255,233,227,0.3);
}
.cabecario .logoTipo img{
    max-height: 220px;
    max-width: 240px;
    height: 50%;
    width: 100%;
}
.menuNavegacao{
    width: 100%;
    max-width: 700px;
    margin-left: 8%;
}
.menuNavegacao ul{
    text-align: center;
}
.login{
    position: absolute;
    /*top: 10px;*/
    top: 1.5%;
    right: 1.6%;
    /*right: 8px;*/
}
.buton{
    text-decoration: none;
    list-style: none;
    background-color: aliceblue;
}
.cabecario .lenguagem{
    height: 40px;
    width: 55px;
    background-image: url(../Img/Icones/alterandoALinguagem.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*fimCabecario/

/*paralax*/
.parallax{
    background-image: url(../Img/imagens/visao.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 120px;
    max-height: 200px;
    height: 100%;
}
.parallax2{
    background-image: url(../Img/imagens/parallax03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 120px;
    max-height: 200px;
    height: 100%;
}
.testeFundo2{
    background-image: url(../Img/imagens/visao.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}
.testeFundo{
    background-image: url(../Img/imagens/parallax03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*background-color: rgba(255,233,227,0.3);*/
    
}
/*fimParallaz*/

/*comoTrabalhamos*/
.info{
    background-color: rgba(255,233,227,0.3);
}
.infoWork{
    height: 370px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 6px #333;
    background-color: rgba(255,255,255,1);
}

.icone{
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../Img/Icones/approve-invoice.png);
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*fimComotrabalhamos*/

/*tabelaDePreco*/
.tabela{
    box-shadow: 2px 2px 6px #333;
    background-color: rgba(255,255,255,1);
}

